_.log
_.pid
_.seed
.cache
.DS_Store
.dynamodb
.env
.env.test
.eslintcache
.fusebox
.grunt
.lock-wscript
.next
.node_repl_history
.npm
.nuxt
.nyc_output
.rpt2_cache
.rts2_cache_cjs
.rts2_cache_es
.rts2_cache_umd
.serverless
.tern-port
.vuepress/dist
.yarn-integrity
\*.lcov
\*.pid.lock
\*.tgz
\*.tsbuildinfo
bower_components
build/Release
coverage
dist
jspm_packages
lerna-debug.log\*
lib-cov
logs
node_modules
npm-debug.log_
pids
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json
systemctl/ \*_/_.DS_Store
typings
*.log
/abi/types/*

###

contracts/*/deployments/*
!contracts/*/deployments/mainnet
contracts/dollar/tasks/library/distributor/fixtures/operators.json
fixtures/abi/types/
web/dapp/
