./contracts
node_modules
fixtures
.next
pages/styles/tailwind.css
abi
deployments

./contracts/dollar/coverage
./contracts/dollar/node_modules
./contracts/dollar/build
./contracts/dollar/cache
./contracts/dollar/artifacts
./contracts/dollar/deployments

./contracts/ubiquistick/node_modules
./contracts/ubiquistick/artifacts
./contracts/ubiquistick/cache
./contracts/ubiquistick/coverage*
./contracts/ubiquistick/gasReporterOutput.json
