.column-wrap {
  display: flex; /* or inline-flex */
  flex-direction: column;
  flex-wrap: wrap;
}

.row {
  display: flex; /* or inline-flex */
  flex-direction: row;
  align-items: center;
}

.row-wrap {
  display: flex; /* or inline-flex */
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.balance {
  display: flex; /* or inline-flex */
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: flex-start;
}

.value {
  border: 5px;
  margin-left: 10px;
  font-weight: bold;
}
