:root {
    --ubiquity-logo-black: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 91.57 104.19'%3E%3Cpath d='M43.28.67 2.5 24.22A5 5 0 0 0 0 28.55v47.09A5 5 0 0 0 2.5 80l40.78 23.55a5 5 0 0 0 5 0L89.07 80a5 5 0 0 0 2.5-4.33V28.55a5 5 0 0 0-2.5-4.33L48.28.67a5 5 0 0 0-5 0zm36.31 25a2 2 0 0 1 0 3.46l-6 3.48c-2.72 1.57-4.11 4.09-5.34 6.3-.18.33-.36.66-.55 1-3 5.24-4.4 10.74-5.64 15.6C59.71 64.76 58 70.1 50.19 72.09a17.76 17.76 0 0 1-8.81 0c-7.81-2-9.53-7.33-11.89-16.59-1.24-4.86-2.64-10.36-5.65-15.6l-.54-1c-1.23-2.21-2.62-4.73-5.34-6.3l-6-3.47a2 2 0 0 1 0-3.47L43.28 7.6a5 5 0 0 1 5 0zM43.28 96.59 8.5 76.51A5 5 0 0 1 6 72.18v-36.1a2 2 0 0 1 3-1.73l6 3.46c1.29.74 2.13 2.25 3.09 4l.6 1c2.59 4.54 3.84 9.41 5 14.11 2.25 8.84 4.58 18 16.25 20.93a23.85 23.85 0 0 0 11.71 0C63.3 75 65.63 65.82 67.89 57c1.2-4.7 2.44-9.57 5-14.1l.59-1.06c1-1.76 1.81-3.27 3.1-4l5.94-3.45a2 2 0 0 1 3 1.73v36.1a5 5 0 0 1-2.5 4.33L48.28 96.59a5 5 0 0 1-5 0z' /%3E%3C/svg%3E");
    --ubiquity-logo-white: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 91.57 104.19'%3E%3Cpath d='M43.28.67 2.5 24.22A5 5 0 0 0 0 28.55v47.09A5 5 0 0 0 2.5 80l40.78 23.55a5 5 0 0 0 5 0L89.07 80a5 5 0 0 0 2.5-4.33V28.55a5 5 0 0 0-2.5-4.33L48.28.67a5 5 0 0 0-5 0zm36.31 25a2 2 0 0 1 0 3.46l-6 3.48c-2.72 1.57-4.11 4.09-5.34 6.3-.18.33-.36.66-.55 1-3 5.24-4.4 10.74-5.64 15.6C59.71 64.76 58 70.1 50.19 72.09a17.76 17.76 0 0 1-8.81 0c-7.81-2-9.53-7.33-11.89-16.59-1.24-4.86-2.64-10.36-5.65-15.6l-.54-1c-1.23-2.21-2.62-4.73-5.34-6.3l-6-3.47a2 2 0 0 1 0-3.47L43.28 7.6a5 5 0 0 1 5 0zM43.28 96.59 8.5 76.51A5 5 0 0 1 6 72.18v-36.1a2 2 0 0 1 3-1.73l6 3.46c1.29.74 2.13 2.25 3.09 4l.6 1c2.59 4.54 3.84 9.41 5 14.11 2.25 8.84 4.58 18 16.25 20.93a23.85 23.85 0 0 0 11.71 0C63.3 75 65.63 65.82 67.89 57c1.2-4.7 2.44-9.57 5-14.1l.59-1.06c1-1.76 1.81-3.27 3.1-4l5.94-3.45a2 2 0 0 1 3 1.73v36.1a5 5 0 0 1-2.5 4.33L48.28 96.59a5 5 0 0 1-5 0z' fill='%23FFF' /%3E%3C/svg%3E");
    --ubiquity-logo-cyan: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 91.57 104.19'%3E%3Cpath d='M43.28.67 2.5 24.22A5 5 0 0 0 0 28.55v47.09A5 5 0 0 0 2.5 80l40.78 23.55a5 5 0 0 0 5 0L89.07 80a5 5 0 0 0 2.5-4.33V28.55a5 5 0 0 0-2.5-4.33L48.28.67a5 5 0 0 0-5 0zm36.31 25a2 2 0 0 1 0 3.46l-6 3.48c-2.72 1.57-4.11 4.09-5.34 6.3-.18.33-.36.66-.55 1-3 5.24-4.4 10.74-5.64 15.6C59.71 64.76 58 70.1 50.19 72.09a17.76 17.76 0 0 1-8.81 0c-7.81-2-9.53-7.33-11.89-16.59-1.24-4.86-2.64-10.36-5.65-15.6l-.54-1c-1.23-2.21-2.62-4.73-5.34-6.3l-6-3.47a2 2 0 0 1 0-3.47L43.28 7.6a5 5 0 0 1 5 0zM43.28 96.59 8.5 76.51A5 5 0 0 1 6 72.18v-36.1a2 2 0 0 1 3-1.73l6 3.46c1.29.74 2.13 2.25 3.09 4l.6 1c2.59 4.54 3.84 9.41 5 14.11 2.25 8.84 4.58 18 16.25 20.93a23.85 23.85 0 0 0 11.71 0C63.3 75 65.63 65.82 67.89 57c1.2-4.7 2.44-9.57 5-14.1l.59-1.06c1-1.76 1.81-3.27 3.1-4l5.94-3.45a2 2 0 0 1 3 1.73v36.1a5 5 0 0 1-2.5 4.33L48.28 96.59a5 5 0 0 1-5 0z' fill='%230FF'  /%3E%3C/svg%3E");
}

header {
    padding: 8px;
    /* background-color: #000000; */
    border: 1px solid #ffffff10;
    backdrop-filter: blur(24px);
}

header>div {
    display: inline-block;
}

#account {
    display: block;
    width: auto;
}

#common>div {
    display: inline-block;
    vertical-align: top;
    margin: 24px;
    padding: 8px 16px;
    /* background-color: #00000080; */
    /* background-color: #06061a; */
    /* background-color: #000; */
    /* vertical-align: top; */
    border-radius: 4px;
    position: relative;
    /* box-shadow: 0 0 96px #00ffff20; */
    border: 1px solid #ffffff10;
    backdrop-filter: blur(24px);
}

#debt-coupon-deposit {
    min-height: 124px;
}

#account p,
#account aside,
#chefugov p,
#chefugov aside,
#twap-price p,
#twap-price aside {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#twap-price p,
#chefugov p {
    font-weight: normal;
    background: linear-gradient(to right, #ffffffff, #ffffff00);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 32px;
    max-width: 75%;
    margin: 16px auto;
}

#chefugov p {
    background: linear-gradient(to right, #00ffffff, #ffffff00);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#balances p,
#markets aside,
div[id^="inventory-"] aside,
#chefugov aside,
#twap-price aside {
    -webkit-text-fill-color: initial;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 14px;
    color: #ffffff80;
    text-rendering: optimizeLegibility;
}

#inventory-top>div>div {
    display: inline-block;
    margin: 8px 16px;
    height: 24px;
    vertical-align: middle;
    /* float: left; */
    /* background: red; */
}

#common>div::before {
    /* content: attr(id); */
    position: absolute;
    right: 0;
    text-transform: uppercase;
    text-align: right;
    font-weight: 900;
    opacity: 0.125;
    padding: 0 8px;
    /* height: 100%; */
    /* transform: translateY(50%); */
}

#logo {
    background-image: var(--ubiquity-logo-white);
    background-repeat: no-repeat;
    background-size: contain;
    color: #fff;
    opacity: 0.5;
    /* height: 24px; */
    font-size: 14px;
    padding: 4px 6px;
}

#logo:hover {
    opacity: 1;
    filter: drop-shadow(0 0 16px #fff);
    background-image: var(--ubiquity-logo-cyan);
    color: #0ff;
}

#logo>span {
    user-select: none;
    width: auto;
    text-align: right;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding-left: 26px;
    text-rendering: optimizeLegibility;
    font-weight: initial;
}

#account {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ffffff40;
}

body {
    background: #06061a;
    color: #fff;
    font-family: "Ubiquity Nova", "Proxima Nova", Avenir, sans-serif;
    /* font-weight: 100; */
    text-align: center;
    margin: 0;
}

.rdn-control-placeholder :disabled,
button:disabled,
input[type="button"]:disabled,
:disabled {
    pointer-events: none;
    opacity: 0.125;
    background-color: transparent;
    color: #fff;
}

.rdn-drop.dropdown.is-open>div.option.rdn-drop-menu-option,
.rdn-control-placeholder.dropdown,
input,
button,
input[type="button"] {
    /* font-weight: 100; */
    font-family: "Ubiquity Nova", "Proxima Nova", Avenir, sans-serif;
    background: #fff;
    box-shadow: 0 0 48px #00000040;
    appearance: none;
    border: none;
    height: 32px;
    border-radius: 4px;
    /* text-indent: 4px; */
    padding: 0 8px;
    margin: 8px;
    opacity: 0.75;
    /* transform: scale(1); */
    transition: 0.25s all cubic-bezier(0, 1, 1, 1);
    min-width: 128px;
}

.rdn-drop.dropdown.is-open>div.option.rdn-drop-menu-option,
.rdn-control-placeholder.dropdown {
    height: auto;
}

.rdn-drop.dropdown.is-open>div.option.rdn-drop-menu-option,
.rdn-control-placeholder.dropdown,
button,
input[type="button"] {
    background-color: #ffffff00;
    border: 1px solid #ffffff40;
    cursor: pointer;
    padding: 8px 16px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: initial;
}

.rdn-drop.dropdown.is-open>div.option.rdn-drop-menu-option:hover,
.rdn-control-placeholder.dropdown:hover,
button:hover,
input[type="button"]:hover {
    border: 1px solid #ffffff00;
    background-color: #ffffff40;
}

.rdn-drop.dropdown.is-open>div.option.rdn-drop-menu-option:hover,
.rdn-control-placeholder.dropdown:hover,
input:hover,
button:hover,
input[type="button"]:hover {
    /* transform: scale(0.99); */
    opacity: 1;
    filter: drop-shadow(0 0 16px #fff);
    /* color: #0ff; */
}

.error {
    /* font-weight: bolder; */
    color: red;
}

.info {
    /* font-weight: lighter; */
    color: #808080;
    /* margin-left: 10px; */
}

.dropdown {}

.disable-option {
    color: #808080;
    cursor: not-allowed;
    padding: 8px;
    /* pointer-events: none; */
}

.option {
    /* color: black; */
    cursor: pointer;
    padding: 8px;
}

span {
    vertical-align: middle;
}

img,
svg {
    /* fill: #ffffff80; */
    fill: #00ffffbf;
    height: 24px;
    margin-right: 12px;
}

img,
svg:hover {
    /* fill: #00ffffff; */
}

img,
svg {
    /* fill: #ffffff80; */
    fill: #00ffffbf;
    height: 24px;
    margin-right: 12px;
}

img,
svg:hover {
    /* fill: #00ffffff; */
}

#chefugov {
    /* background-size: 48px; */
}

#claimer {
    /* background-image: var(--ubiquity-logo-black); */
    /* height: 48px */
}

#markets>div>div {
    width: 50%;
    display: inline-block;
}

#markets>div {
    margin: 24px auto;
}

input[value*="Connect"] {
    background-color: #00ffffff;
    color: #000;
}

input[value*="Connect"]:hover {
    background-color: #00ffffff;
}

#common>#twap-price,
#common>#chefugov {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#common>div[id^="inventory-"] {
    margin: 0;
    width: 100%;
    display: block;
    backdrop-filter: blur(8px);
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 4px 0;
    height: 48px;
    border-top: 1px solid #ffffff10;
}

div[id^="inventory-"] aside {
    margin: 8px auto;
    display: inline-block;
    /* float: right; */
    margin: 8px 16px;
}

div[id^="inventory-"] svg {
    fill: #ffffff80;
}

div[id^="inventory-"] {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    -webkit-mask-image: linear-gradient( to right, #00000000 0%, #000000ff 12.5%, #000000ff 87.5%, #00000000 100%);
}

div[id^="inventory-"]>div {
    width: 1440px;
    display: inline-block;
    height: 48px;
    vertical-align: middle;
    text-align: center;
}

div[id^="inventory-"] figure {
    display: inline-block;
    height: 4px;
    width: 4px;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    border: 2px solid #ffffff80;
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-radius: 1px;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: inventory-chevron;
    transform: rotate(45deg);
}

@keyframes inventory-chevron {
    0% {
        transform: rotate(45deg) translateX(0px) translateY(0px);
    }
    50% {
        transform: rotate(45deg) translateX(50%) translateY(-50%);
    }
    100% {
        transform: rotate(45deg) translateX(0px) translateY(0px);
    }
}

div#background {
    /* display: table; */
    position: fixed;
    width: 100vw;
    height: 100vh;
}

div#grid {
    /* display: table-cell; */
    position: absolute;
    background-position: center;
    vertical-align: middle;
    text-align: center;
    width: 100vw;
    height: 100vh;
    -webkit-mask-image: radial-gradient( rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.25) 50%, rgba(0, 0, 0, 1) 100%);
    background-image: url(//ubq.fi/image/grid-1.png);
    background-repeat: repeat;
    /* background-color: rgba(0, 0, 0, 0.5); */
    /* z-index: -1; */
}

body video {
    opacity: 0.25;
    filter: grayscale(0.25);
    object-position: center;
    margin: auto;
    position: absolute;
    /* z-index: 1; */
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
    visibility: visible;
    /* opacity: 1; */
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

a:-webkit-any-link {
    color: #fff;
}

#debt-coupon-redeem .rdn-control-arrow.dropdown {
    display: none;
}

#debt-coupon-redeem>p {
    padding: 0 12px;
}

[id^="inventory-"] [id$="-balance"] {
    /* max-width: 145px; */
    /* background-color: red; */
    max-width: 194px;
    /* background-color: red; */
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}


.bg-blur {
    backdrop-filter: blur(24px);
}
[id^="inventory-"] [id$="-balance"] a {
    text-decoration: none;
}
