.\!block {
  display: block !important;
}
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.flex-grow {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
.text-14px {
  font-size: 14px;
  line-height: 1;
}
.\!mx-0 {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.mb-8 {
  margin-bottom: 2rem;
}
.mb-4 {
  margin-bottom: 1rem;
}
.-mt-1 {
  margin-top: -0.25rem;
}
.max-w-screen-md {
  max-width: 768px;
}
.\!py-8 {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-white {
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}
.text-opacity-50 {
  --tw-text-opacity: 0.5;
}
.text-opacity-75 {
  --tw-text-opacity: 0.75;
}
.uppercase {
  text-transform: uppercase;
}
.tracking-wide {
  letter-spacing: 0.025em;
}
.tracking-3px {
  letter-spacing: 3px;
}
.w-1\/2 {
  width: 50%;
}
.w-8 {
  width: 2rem;
}