/*
.btn-primary,
a.btn-primary {
  @apply inline-block h-auto px-4 py-2 transition;
  @apply font-special text-xs uppercase tracking-widest text-white text-opacity-75;
  @apply rounded border border-solid border-white border-opacity-25;
  @apply no-underline;
}

.btn-primary:disabled {
  @apply pointer-events-none opacity-20;
}

.btn-primary:hover {
  @apply cursor-pointer;
  @apply text-white;
  @apply border-opacity-0;
  @apply bg-white bg-opacity-20 drop-shadow-light;
}
*/

table th {
  -webkit-text-fill-color: initial;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 14px;
  color: #ffffff80;
  text-rendering: optimizeLegibility;
}
table th {
  font-weight: 400;
  padding: 14px;
}
#rewards-summary {
  color: #ffffffbf;
  font-weight: 400;
  padding: 14px 0 0;
}
table {
  box-shadow: var(--box-shadow);
  border-radius: 4px;
  margin: 12px auto;
}

a.link-animation {
  padding: 0 4px 0 4px;
  border-radius: 2px;
  box-shadow: inset 0 0 0 rgba(255, 255, 255, 0.1);
  color: #fff;
  transition-property: box-shadow color;
  transition-duration: 0.3s;
}
a.link-animation:hover {
  box-shadow: inset 0 -24px 0 rgba(255, 255, 255, 0.9);
  color: rgba(0, 0, 0, 0.7);
}
.error {
  color: red;
}
.info {
  color: grey;
}
.disable-option {
  color: grey;
  cursor: not-allowed;
  padding: 8px;
}
.option {
  cursor: pointer;
  padding: 8px;
}
span {
  vertical-align: middle;
}
@keyframes inventory-chevron {
  0% {
    transform: rotate(45deg) translateX(0) translateY(0);
  }
  50% {
    transform: rotate(45deg) translateX(50%) translateY(-50%);
  }
  100% {
    transform: rotate(45deg) translateX(0) translateY(0);
  }
}
div#background {
  position: fixed;
  width: 100vw;
  height: 100vh;
}
div#grid {
  position: absolute;
  background-position: center;
  vertical-align: middle;
  text-align: center;
  width: 100vw;
  height: 100vh;
  -webkit-mask-image: radial-gradient(rgba(0, 0, 0, 0.5) 0, rgba(0, 0, 0, 0.25) 50%, rgba(0, 0, 0, 1) 100%);
  background-image: url(//ubq.fi/image/grid-1.png);
  background-repeat: repeat;
}
body .bg-video {
  opacity: 0.25;
  filter: grayscale(0.25);
  object-position: center;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  visibility: visible;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
a {
  color: #fff;
}
#debt-coupon-redeem .rdn-control-arrow.dropdown {
  display: none;
}
#debt-coupon-redeem > p {
  padding: 0 12px;
}
.bg-blur {
  backdrop-filter: blur(24px);
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 16px;
  height: 16px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  margin: 1px;
  border: 1px solid #80ffff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #80ffff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 2em;
  height: 2em;
}
.loader {
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #fff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
