@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply px-4 py-2 transition;
    @apply font-special uppercase text-xs tracking-widest text-white text-opacity-75;
    @apply border border-solid border-white border-opacity-25 rounded;
  }
  .btn-primary:disabled {
    @apply pointer-events-none opacity-20;
  }
  .btn-primary:hover {
    @apply cursor-pointer;
    @apply text-white;
    @apply border-opacity-0;
    @apply bg-white bg-opacity-20 drop-shadow-light;
  }
}
:root {
  --dollar-logo-black: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 131.66 150'%3E%3Cpath d='m54.5 97.23.51.29L95.45 121l-27.54 16a5.44 5.44 0 0 1-5.11.16l-.29-.16-49.1-28.35a5.42 5.42 0 0 1-2.69-4.36v-8.7a48.08 48.08 0 0 1 43.78 1.7zm-30.45-60.7 42.73 24.8.55.32a59 59 0 0 0 52.38 2.77v39.48a5.4 5.4 0 0 1-2.44 4.51l-.26.18-10.67 6.14-45.85-26.61a58.92 58.92 0 0 0-49.78-4.38v-36.4a5.42 5.42 0 0 1 2.44-4.51l.26-.16zm41.16-22.87a5.43 5.43 0 0 1 2.38.55l.32.17L117 42.67a5.4 5.4 0 0 1 2.7 4.35v5.33a48 48 0 0 1-46.8 0l-.64-.35-37.34-21.73 27.59-15.89a5.25 5.25 0 0 1 2.35-.72zm66.45 27.11a6.54 6.54 0 0 0-3.27-5.66L69.1.87a6.58 6.58 0 0 0-6.54 0L3.27 35.11A6.54 6.54 0 0 0 0 40.77v68.46a6.57 6.57 0 0 0 3.27 5.67l59.29 34.23a6.58 6.58 0 0 0 6.54 0l59.29-34.23a6.57 6.57 0 0 0 3.27-5.67z' /%3E%3C/svg%3E");
  --dollar-logo-white: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 131.66 150'%3E%3Cpath fill='%23fff' d='m54.5 97.23.51.29L95.45 121l-27.54 16a5.44 5.44 0 0 1-5.11.16l-.29-.16-49.1-28.35a5.42 5.42 0 0 1-2.69-4.36v-8.7a48.08 48.08 0 0 1 43.78 1.7zm-30.45-60.7 42.73 24.8.55.32a59 59 0 0 0 52.38 2.77v39.48a5.4 5.4 0 0 1-2.44 4.51l-.26.18-10.67 6.14-45.85-26.61a58.92 58.92 0 0 0-49.78-4.38v-36.4a5.42 5.42 0 0 1 2.44-4.51l.26-.16zm41.16-22.87a5.43 5.43 0 0 1 2.38.55l.32.17L117 42.67a5.4 5.4 0 0 1 2.7 4.35v5.33a48 48 0 0 1-46.8 0l-.64-.35-37.34-21.73 27.59-15.89a5.25 5.25 0 0 1 2.35-.72zm66.45 27.11a6.54 6.54 0 0 0-3.27-5.66L69.1.87a6.58 6.58 0 0 0-6.54 0L3.27 35.11A6.54 6.54 0 0 0 0 40.77v68.46a6.57 6.57 0 0 0 3.27 5.67l59.29 34.23a6.58 6.58 0 0 0 6.54 0l59.29-34.23a6.57 6.57 0 0 0 3.27-5.67z' /%3E%3C/svg%3E");
  --dollar-logo-cyan: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 131.66 150'%3E%3Cpath fill='%2300ffff' d='m54.5 97.23.51.29L95.45 121l-27.54 16a5.44 5.44 0 0 1-5.11.16l-.29-.16-49.1-28.35a5.42 5.42 0 0 1-2.69-4.36v-8.7a48.08 48.08 0 0 1 43.78 1.7zm-30.45-60.7 42.73 24.8.55.32a59 59 0 0 0 52.38 2.77v39.48a5.4 5.4 0 0 1-2.44 4.51l-.26.18-10.67 6.14-45.85-26.61a58.92 58.92 0 0 0-49.78-4.38v-36.4a5.42 5.42 0 0 1 2.44-4.51l.26-.16zm41.16-22.87a5.43 5.43 0 0 1 2.38.55l.32.17L117 42.67a5.4 5.4 0 0 1 2.7 4.35v5.33a48 48 0 0 1-46.8 0l-.64-.35-37.34-21.73 27.59-15.89a5.25 5.25 0 0 1 2.35-.72zm66.45 27.11a6.54 6.54 0 0 0-3.27-5.66L69.1.87a6.58 6.58 0 0 0-6.54 0L3.27 35.11A6.54 6.54 0 0 0 0 40.77v68.46a6.57 6.57 0 0 0 3.27 5.67l59.29 34.23a6.58 6.58 0 0 0 6.54 0l59.29-34.23a6.57 6.57 0 0 0 3.27-5.67z' /%3E%3C/svg%3E");
  /* --dollar-logo-black: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 91.57 104.19'%3E%3Cpath d='M43.28.67 2.5 24.22A5 5 0 0 0 0 28.55v47.09A5 5 0 0 0 2.5 80l40.78 23.55a5 5 0 0 0 5 0L89.07 80a5 5 0 0 0 2.5-4.33V28.55a5 5 0 0 0-2.5-4.33L48.28.67a5 5 0 0 0-5 0zm36.31 25a2 2 0 0 1 0 3.46l-6 3.48c-2.72 1.57-4.11 4.09-5.34 6.3-.18.33-.36.66-.55 1-3 5.24-4.4 10.74-5.64 15.6C59.71 64.76 58 70.1 50.19 72.09a17.76 17.76 0 0 1-8.81 0c-7.81-2-9.53-7.33-11.89-16.59-1.24-4.86-2.64-10.36-5.65-15.6l-.54-1c-1.23-2.21-2.62-4.73-5.34-6.3l-6-3.47a2 2 0 0 1 0-3.47L43.28 7.6a5 5 0 0 1 5 0zM43.28 96.59 8.5 76.51A5 5 0 0 1 6 72.18v-36.1a2 2 0 0 1 3-1.73l6 3.46c1.29.74 2.13 2.25 3.09 4l.6 1c2.59 4.54 3.84 9.41 5 14.11 2.25 8.84 4.58 18 16.25 20.93a23.85 23.85 0 0 0 11.71 0C63.3 75 65.63 65.82 67.89 57c1.2-4.7 2.44-9.57 5-14.1l.59-1.06c1-1.76 1.81-3.27 3.1-4l5.94-3.45a2 2 0 0 1 3 1.73v36.1a5 5 0 0 1-2.5 4.33L48.28 96.59a5 5 0 0 1-5 0z' /%3E%3C/svg%3E");
  --dollar-logo-white: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 91.57 104.19'%3E%3Cpath d='M43.28.67 2.5 24.22A5 5 0 0 0 0 28.55v47.09A5 5 0 0 0 2.5 80l40.78 23.55a5 5 0 0 0 5 0L89.07 80a5 5 0 0 0 2.5-4.33V28.55a5 5 0 0 0-2.5-4.33L48.28.67a5 5 0 0 0-5 0zm36.31 25a2 2 0 0 1 0 3.46l-6 3.48c-2.72 1.57-4.11 4.09-5.34 6.3-.18.33-.36.66-.55 1-3 5.24-4.4 10.74-5.64 15.6C59.71 64.76 58 70.1 50.19 72.09a17.76 17.76 0 0 1-8.81 0c-7.81-2-9.53-7.33-11.89-16.59-1.24-4.86-2.64-10.36-5.65-15.6l-.54-1c-1.23-2.21-2.62-4.73-5.34-6.3l-6-3.47a2 2 0 0 1 0-3.47L43.28 7.6a5 5 0 0 1 5 0zM43.28 96.59 8.5 76.51A5 5 0 0 1 6 72.18v-36.1a2 2 0 0 1 3-1.73l6 3.46c1.29.74 2.13 2.25 3.09 4l.6 1c2.59 4.54 3.84 9.41 5 14.11 2.25 8.84 4.58 18 16.25 20.93a23.85 23.85 0 0 0 11.71 0C63.3 75 65.63 65.82 67.89 57c1.2-4.7 2.44-9.57 5-14.1l.59-1.06c1-1.76 1.81-3.27 3.1-4l5.94-3.45a2 2 0 0 1 3 1.73v36.1a5 5 0 0 1-2.5 4.33L48.28 96.59a5 5 0 0 1-5 0z' fill='%23FFF' /%3E%3C/svg%3E");
  --dollar-logo-cyan: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 91.57 104.19'%3E%3Cpath d='M43.28.67 2.5 24.22A5 5 0 0 0 0 28.55v47.09A5 5 0 0 0 2.5 80l40.78 23.55a5 5 0 0 0 5 0L89.07 80a5 5 0 0 0 2.5-4.33V28.55a5 5 0 0 0-2.5-4.33L48.28.67a5 5 0 0 0-5 0zm36.31 25a2 2 0 0 1 0 3.46l-6 3.48c-2.72 1.57-4.11 4.09-5.34 6.3-.18.33-.36.66-.55 1-3 5.24-4.4 10.74-5.64 15.6C59.71 64.76 58 70.1 50.19 72.09a17.76 17.76 0 0 1-8.81 0c-7.81-2-9.53-7.33-11.89-16.59-1.24-4.86-2.64-10.36-5.65-15.6l-.54-1c-1.23-2.21-2.62-4.73-5.34-6.3l-6-3.47a2 2 0 0 1 0-3.47L43.28 7.6a5 5 0 0 1 5 0zM43.28 96.59 8.5 76.51A5 5 0 0 1 6 72.18v-36.1a2 2 0 0 1 3-1.73l6 3.46c1.29.74 2.13 2.25 3.09 4l.6 1c2.59 4.54 3.84 9.41 5 14.11 2.25 8.84 4.58 18 16.25 20.93a23.85 23.85 0 0 0 11.71 0C63.3 75 65.63 65.82 67.89 57c1.2-4.7 2.44-9.57 5-14.1l.59-1.06c1-1.76 1.81-3.27 3.1-4l5.94-3.45a2 2 0 0 1 3 1.73v36.1a5 5 0 0 1-2.5 4.33L48.28 96.59a5 5 0 0 1-5 0z' fill='%230FF'  /%3E%3C/svg%3E"); */
  /* --box-shadow: 0 0 48px #ffffff10; */
  --box-shadow: none;
}

#account {
  display: block;
  width: auto;
}

#common > div {
  display: inline-block;
  vertical-align: top;
  margin: 24px;
  /* padding: 8px 16px; */
  /* background-color: #00000080; */
  /* background-color: #06061a; */
  /* background-color: #000; */
  /* vertical-align: top; */
  border-radius: 4px;
  position: relative;
  /* box-shadow: 0 0 96px #00ffff20; */
  /* border: 1px solid #ffffff10; */
  box-shadow: var(--box-shadow);
  backdrop-filter: blur(24px);
  min-width: 33vw;
  border: none;
}

#debt-coupon-deposit {
  min-height: 124px;
}

#account p,
#account aside,
#chefugov p,
#chefugov aside,
#twap-price p,
#twap-price aside {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#twap-price p,
#chefugov p {
  font-weight: normal;
  background: linear-gradient(to right, #ffffffff, #ffffff00);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 32px;
  max-width: 75%;
  margin: 16px auto;
}
#twap-price > p {
  margin: 0 auto;
}
#chefugov p {
  background: linear-gradient(to right, #00ffffff, #ffffff00);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#balances p,
#markets aside,
div[id^="inventory-"] aside,
#chefugov aside,
#twap-price aside,
table th {
  -webkit-text-fill-color: initial;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 14px;
  color: #ffffff80;
  text-rendering: optimizeLegibility;
}
table th {
  font-weight: 400;
  padding: 14px;
}

#rewards-summary {
  color: #ffffffbf;
  font-weight: 400;
  /* text-align: right; */
  padding: 14px 0 0;
}

#rewards-summary > div {
  /* display: inline-block; */
  /* padding: 14px; */
  /* background-color: red; */
}

table {
  /* border: 1px solid #ffffff10; */
  box-shadow: var(--box-shadow);
  border-radius: 4px;
  margin: 12px auto;
}

#inventory-top {
  display: flex !important;
  justify-content: center;
}

#inventory-top > div > div {
  display: inline-block;
  margin: 4px;
  height: 24px;
  vertical-align: middle;
  /* float: left; */
  /* background: red; */
}

#common > div::before {
  /* content: attr(id); */
  position: absolute;
  right: 0;
  text-transform: uppercase;
  text-align: right;
  font-weight: 900;
  opacity: 0.125;
  padding: 0 8px;
  /* height: 100%; */
  /* transform: translateY(50%); */
}

#logo {
  background-image: var(--dollar-logo-white);
  background-repeat: no-repeat;
  background-size: contain;
  color: #fff;
  opacity: 0.5;
  height: 20px;
  font-size: 14px;
  padding: 4px 6px;
}

#logo:hover {
  opacity: 1;
  filter: drop-shadow(0 0 16px #fff);
  background-image: var(--dollar-logo-cyan);
  color: #0ff;
}

#logo > span {
  user-select: none;
  width: auto;
  text-align: right;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 3px;

  padding-right: 13px;
  text-rendering: optimizeLegibility;
  font-weight: initial;
  height: 11px;
}
#logo > span:first-child {
  padding-left: 32px;
}
#account {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #ffffff40;
}

body {
  background: #06061a;
  color: #fff;
  font-family: "Ubiquity Nova", "Proxima Nova", Avenir, sans-serif;
  /* font-weight: 100; */
  text-align: center;
  margin: 0;
}

.rdn-control-placeholder :disabled,
button:disabled,
input[type="button"]:disabled,
:disabled {
  pointer-events: none;
  opacity: 0.125;
  background-color: transparent;
  color: #fff;
}

.rdn-drop.dropdown.is-open > div.option.rdn-drop-menu-option,
.rdn-control-placeholder.dropdown,
input,
button,
input[type="button"] {
  /* font-weight: 100; */
  font-family: "Ubiquity Nova", "Proxima Nova", Avenir, sans-serif;
  background: #fff;
  box-shadow: 0 0 48px #00000040;
  appearance: none;
  border: none;
  height: 32px;
  border-radius: 4px;
  /* text-indent: 4px; */
  padding: 0 8px;
  margin: 8px;
  opacity: 0.75;
  /* transform: scale(1); */
  transition: 0.25s all cubic-bezier(0, 1, 1, 1);
  min-width: 128px;
}

.rdn-drop.dropdown.is-open > div.option.rdn-drop-menu-option,
.rdn-control-placeholder.dropdown {
  height: auto;
}

.rdn-drop.dropdown.is-open > div.option.rdn-drop-menu-option,
.rdn-control-placeholder.dropdown,
button,
input[type="button"] {
  background-color: #ffffff00;
  border: 1px solid #ffffff40;
  cursor: pointer;
  padding: 8px 16px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  font-weight: initial;
}

.rdn-drop.dropdown.is-open > div.option.rdn-drop-menu-option:hover,
.rdn-control-placeholder.dropdown:hover,
button:hover,
input[type="button"]:hover {
  border: 1px solid #ffffff00;
  background-color: #ffffff40;
}

.rdn-drop.dropdown.is-open > div.option.rdn-drop-menu-option:hover,
.rdn-control-placeholder.dropdown:hover,
input:hover,
button:hover,
input[type="button"]:hover {
  /* transform: scale(0.99); */
  opacity: 1;
  filter: drop-shadow(0 0 16px #fff);
  /* color: #0ff; */
}

.error {
  /* font-weight: bolder; */
  color: red;
}

.info {
  /* font-weight: lighter; */
  color: #808080;
  /* margin-left: 10px; */
}

.disable-option {
  color: #808080;
  cursor: not-allowed;
  padding: 8px;
  /* pointer-events: none; */
}

.option {
  /* color: black; */
  cursor: pointer;
  padding: 8px;
}

span {
  vertical-align: middle;
}

img,
svg {
  /* fill: #ffffff80; */
  fill: #00ffffbf;
  height: 24px;
  margin-right: 12px;
}

img,
svg:hover {
  /* fill: #00ffffff; */
}

img,
svg {
  /* fill: #ffffff80; */
  fill: #00ffffbf;
  height: 24px;
  margin-right: 12px;
}

#markets > div > div {
  width: 50%;
  display: inline-block;
}

#markets > div {
  margin: 24px auto;
}

input[value*="Connect"] {
  background-color: #00ffffff;
  color: #000;
}

input[value*="Connect"]:hover {
  background-color: #00ffffff;
}

#common > #twap-price,
#common > #chefugov {
  display: block;
  /* margin-left: auto; */
  /* margin-right: auto; */
  margin: 24px auto;
  padding: 24px 0;
}

#common > div[id^="inventory-"] {
  margin: 0;
  width: 100%;
  display: block;
  backdrop-filter: blur(8px);
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 4px 0;
  height: 48px;
  border-top: 1px solid #ffffff10;
}

div[id^="inventory-"] aside {
  margin: 8px auto;
  display: inline-block;
  /* float: right; */
  margin: 8px 16px;
}

div[id^="inventory-"] svg {
  /* fill: #ffffff80; */
}

div[id^="inventory-"] {
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-mask-image: linear-gradient(to right, #00000000 0%, #000000ff 12.5%, #000000ff 87.5%, #00000000 100%);
}

div[id^="inventory-"] > div {
  /* width: 1440px; */
  /* display: inline-block; */
  height: 48px;
  vertical-align: middle;
  text-align: center;
}

div[id^="inventory-"] figure {
  display: inline-block;
  height: 4px;
  width: 4px;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  border: 2px solid #ffffff80;
  border-left-color: transparent;
  border-bottom-color: transparent;
  border-radius: 1px;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: inventory-chevron;
  transform: rotate(45deg);
}

@keyframes inventory-chevron {
  0% {
    transform: rotate(45deg) translateX(0px) translateY(0px);
  }
  50% {
    transform: rotate(45deg) translateX(50%) translateY(-50%);
  }
  100% {
    transform: rotate(45deg) translateX(0px) translateY(0px);
  }
}

div#background {
  /* display: table; */
  position: fixed;
  width: 100vw;
  height: 100vh;
}

div#grid {
  /* display: table-cell; */
  position: absolute;
  background-position: center;
  vertical-align: middle;
  text-align: center;
  width: 100vw;
  height: 100vh;
  -webkit-mask-image: radial-gradient(rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.25) 50%, rgba(0, 0, 0, 1) 100%);
  background-image: url(//ubq.fi/image/grid-1.png);
  background-repeat: repeat;
  /* background-color: rgba(0, 0, 0, 0.5); */
  /* z-index: -1; */
}

body video {
  opacity: 0.25;
  filter: grayscale(0.25);
  object-position: center;
  margin: auto;
  position: absolute;
  /* z-index: 1; */
  top: 50%;
  left: 0%;
  transform: translate(0%, -50%);
  visibility: visible;
  /* opacity: 1; */
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

a:-webkit-any-link {
  color: #fff;
}

#debt-coupon-redeem .rdn-control-arrow.dropdown {
  display: none;
}

#debt-coupon-redeem > p {
  padding: 0 12px;
}

[id^="inventory-"] [id$="-balance"] {
  /* max-width: 145px; */
  /* background-color: red; */
  max-width: 194px;
  /* background-color: red; */
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

[id^="inventory-"] [id$="-balance"]:hover {
  filter: drop-shadow(0 0 16px #fff);
}

.bg-blur {
  backdrop-filter: blur(24px);
}
[id^="inventory-"] [id$="-balance"] a {
  text-decoration: none;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 16px;
  height: 16px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  margin: 1px;
  border: 1px solid #80ffff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #80ffff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#common > div > div.flex.justify-between.items-center > div {
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  padding: 24px;
  border-radius: 4px;
  /* border: 1px solid #ffffff10; */
  box-shadow: var(--box-shadow);
}

#common > div > div.flex.justify-between.items-center > div > div > span {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  text-rendering: optimizeLegibility;
}
