*, ::before, ::after {
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  --tw-border-opacity: 1;
  border-color: rgba(229, 231, 235, var(--tw-border-opacity));
  --tw-blur: var(--tw-empty,/*!*/ /*!*/);
  --tw-brightness: var(--tw-empty,/*!*/ /*!*/);
  --tw-contrast: var(--tw-empty,/*!*/ /*!*/);
  --tw-grayscale: var(--tw-empty,/*!*/ /*!*/);
  --tw-hue-rotate: var(--tw-empty,/*!*/ /*!*/);
  --tw-invert: var(--tw-empty,/*!*/ /*!*/);
  --tw-saturate: var(--tw-empty,/*!*/ /*!*/);
  --tw-sepia: var(--tw-empty,/*!*/ /*!*/);
  --tw-drop-shadow: var(--tw-empty,/*!*/ /*!*/);
  --tw-filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.fixed {
  position: fixed
}

.absolute {
  position: absolute
}

.relative {
  position: relative
}

.top-0 {
  top: 0px
}

.right-0 {
  right: 0px
}

.top-\[2px\] {
  top: 2px
}

.z-10 {
  z-index: 10
}

.z-20 {
  z-index: 20
}

.col-span-2 {
  grid-column: span 2 / span 2
}

.\!mx-auto {
  margin-left: auto !important;
  margin-right: auto !important
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem
}

.mb-4 {
  margin-bottom: 1rem
}

.mb-2 {
  margin-bottom: 0.5rem
}

.mr-2 {
  margin-right: 0.5rem
}

.-mt-1 {
  margin-top: -0.25rem
}

.mt-4 {
  margin-top: 1rem
}

.-mt-2 {
  margin-top: -0.5rem
}

.mr-4 {
  margin-right: 1rem
}

.block {
  display: block
}

.\!block {
  display: block !important
}

.flex {
  display: flex
}

.table {
  display: table
}

.grid {
  display: grid
}

.h-12 {
  height: 3rem
}

.h-4 {
  height: 1rem
}

.h-6 {
  height: 1.5rem
}

.h-20 {
  height: 5rem
}

.h-screen {
  height: 100vh
}

.\!w-10 {
  width: 2.5rem !important
}

.w-1\/2 {
  width: 50%
}

.w-8 {
  width: 2rem
}

.w-screen {
  width: 100vw
}

.\!min-w-0 {
  min-width: 0px !important
}

.max-w-screen-md {
  max-width: 768px
}

.flex-grow {
  flex-grow: 1
}

.border-collapse {
  border-collapse: collapse
}

.scale-150 {
  --tw-scale-x: 1.5;
  --tw-scale-y: 1.5;
  transform: var(--tw-transform)
}

.cursor-pointer {
  cursor: pointer
}

.flex-col {
  flex-direction: column
}

.items-center {
  align-items: center
}

.justify-center {
  justify-content: center
}

.gap-4 {
  gap: 1rem
}

.whitespace-nowrap {
  white-space: nowrap
}

.break-words {
  overflow-wrap: break-word
}

.rounded-md {
  border-radius: 0.375rem
}

.rounded-full {
  border-radius: 9999px
}

.border {
  border-width: 1px
}

.border-0 {
  border-width: 0px
}

.border-b {
  border-bottom-width: 1px
}

.border-solid {
  border-style: solid
}

.border-white {
  --tw-border-opacity: 1;
  border-color: rgba(255, 255, 255, var(--tw-border-opacity))
}

.border-white\/10 {
  border-color: rgba(255, 255, 255, 0.1)
}

.border-accent {
  --tw-border-opacity: 1;
  border-color: rgba(0, 255, 255, var(--tw-border-opacity))
}

.border-opacity-10 {
  --tw-border-opacity: 0.1
}

.bg-accent {
  --tw-bg-opacity: 1;
  background-color: rgba(0, 255, 255, var(--tw-bg-opacity))
}

.bg-opacity-10 {
  --tw-bg-opacity: 0.1
}

.p-4 {
  padding: 1rem
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem
}

.\!py-8 {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem
}

.pl-2 {
  padding-left: 0.5rem
}

.text-left {
  text-align: left
}

.text-center {
  text-align: center
}

.text-right {
  text-align: right
}

.align-middle {
  vertical-align: middle
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.uppercase {
  text-transform: uppercase
}

.tracking-wide {
  letter-spacing: 0.025em
}

.tracking-widest {
  letter-spacing: .2em
}

.text-white {
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity))
}

.text-accent {
  --tw-text-opacity: 1;
  color: rgba(0, 255, 255, var(--tw-text-opacity))
}

.text-gray-100 {
  --tw-text-opacity: 1;
  color: rgba(243, 244, 246, var(--tw-text-opacity))
}

.text-white\/50 {
  color: rgba(255, 255, 255, 0.5)
}

.\!text-white\/30 {
  color: rgba(255, 255, 255, 0.3) !important
}

.text-white\/75 {
  color: rgba(255, 255, 255, 0.75)
}

.text-opacity-75 {
  --tw-text-opacity: 0.75
}

.text-opacity-25 {
  --tw-text-opacity: 0.25
}

.opacity-25 {
  opacity: 0.25
}

.filter {
  filter: var(--tw-filter)
}

@media (min-width: 640px) {
  .sm\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr))
  }
}

@media (min-width: 1024px) {
  .lg\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr))
  }
}