*, ::before, ::after {
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  
}

.pointer-events-none {
  pointer-events: none
}

.invisible {
  visibility: hidden
}

.fixed {
  position: fixed
}

.absolute {
  position: absolute
}

.relative {
  position: relative
}

.top-0 {
  top: 0px
}

.right-0 {
  right: 0px
}

.left-0 {
  left: 0px
}

.top-\[20px\] {
  top: 20px
}

.right-\[4px\] {
  right: 4px
}

.top-\[2px\] {
  top: 2px
}

.top-\[50\%\] {
  top: 50%
}

.-right-4 {
  right: -1rem
}

.-right-2 {
  right: -0.5rem
}

.-right-\[4px\] {
  right: -4px
}

.-right-\[10px\] {
  right: -10px
}

.left-full {
  left: 100%
}

.z-50 {
  z-index: 50
}

.z-10 {
  z-index: 10
}

.z-20 {
  z-index: 20
}

.z-40 {
  z-index: 40
}

.col-span-2 {
  grid-column: span 2 / span 2
}

.col-span-10 {
  grid-column: span 10 / span 10
}

.m-0 {
  margin: 0px
}

.m-auto {
  margin: auto
}

.m-2 {
  margin: 0.5rem
}

.m-1 {
  margin: 0.25rem
}

.\!mx-auto {
  margin-left: auto !important;
  margin-right: auto !important
}

.my-0 {
  margin-top: 0px;
  margin-bottom: 0px
}

.mx-auto {
  margin-left: auto;
  margin-right: auto
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem
}

.my-8 {
  margin-top: 2rem;
  margin-bottom: 2rem
}

.\!my-4 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important
}

.-mx-4 {
  margin-left: -1rem;
  margin-right: -1rem
}

.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem
}

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem
}

.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem
}

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem
}

.mb-2 {
  margin-bottom: 0.5rem
}

.mt-4 {
  margin-top: 1rem
}

.ml-2 {
  margin-left: 0.5rem
}

.mr-2 {
  margin-right: 0.5rem
}

.mt-16 {
  margin-top: 4rem
}

.mb-4 {
  margin-bottom: 1rem
}

.mt-1 {
  margin-top: 0.25rem
}

.mr-4 {
  margin-right: 1rem
}

.mt-8 {
  margin-top: 2rem
}

.mb-1 {
  margin-bottom: 0.25rem
}

.mb-8 {
  margin-bottom: 2rem
}

.mt-2 {
  margin-top: 0.5rem
}

.mb-6 {
  margin-bottom: 1.5rem
}

.mb-10 {
  margin-bottom: 2.5rem
}

.mt-12 {
  margin-top: 3rem
}

.ml-auto {
  margin-left: auto
}

.mr-3 {
  margin-right: 0.75rem
}

.-mt-2 {
  margin-top: -0.5rem
}

.-mt-1 {
  margin-top: -0.25rem
}

.-mr-2 {
  margin-right: -0.5rem
}

.-mr-1 {
  margin-right: -0.25rem
}

.-mr-4 {
  margin-right: -1rem
}

.-ml-2 {
  margin-left: -0.5rem
}

.-mr-\[1px\] {
  margin-right: -1px
}

.-mr-\[5px\] {
  margin-right: -5px
}

.ml-\[1px\] {
  margin-left: 1px
}

.mr-0 {
  margin-right: 0px
}

.box-border {
  box-sizing: border-box
}

.block {
  display: block
}

.\!block {
  display: block !important
}

.inline-block {
  display: inline-block
}

.flex {
  display: flex
}

.inline-flex {
  display: inline-flex
}

.table {
  display: table
}

.grid {
  display: grid
}

.hidden {
  display: none
}

.h-12 {
  height: 3rem
}

.h-8 {
  height: 2rem
}

.h-full {
  height: 100%
}

.h-6 {
  height: 1.5rem
}

.h-\[60px\] {
  height: 60px
}

.h-20 {
  height: 5rem
}

.h-4 {
  height: 1rem
}

.h-24 {
  height: 6rem
}

.h-auto {
  height: auto
}

.h-screen {
  height: 100vh
}

.h-3 {
  height: 0.75rem
}

.h-16 {
  height: 4rem
}

.h-1 {
  height: 0.25rem
}

.h-\[1px\] {
  height: 1px
}

.min-h-screen {
  min-height: 100vh
}

.\!w-10 {
  width: 2.5rem !important
}

.w-10\/12 {
  width: 83.333333%
}

.w-full {
  width: 100%
}

.w-5\/12 {
  width: 41.666667%
}

.w-7\/12 {
  width: 58.333333%
}

.w-1\/2 {
  width: 50%
}

.w-1\/4 {
  width: 25%
}

.w-3\/4 {
  width: 75%
}

.w-1\/3 {
  width: 33.333333%
}

.w-2\/4 {
  width: 50%
}

.w-6 {
  width: 1.5rem
}

.w-1\/5 {
  width: 20%
}

.w-20 {
  width: 5rem
}

.w-2\/12 {
  width: 16.666667%
}

.w-8 {
  width: 2rem
}

.w-10 {
  width: 2.5rem
}

.w-2\/3 {
  width: 66.666667%
}

.w-\[100vw\] {
  width: 100vw
}

.w-\[300px\] {
  width: 300px
}

.w-\[0vw\] {
  width: 0vw
}

.w-3 {
  width: 0.75rem
}

.w-screen {
  width: 100vw
}

.w-80 {
  width: 20rem
}

.w-4 {
  width: 1rem
}

.w-2 {
  width: 0.5rem
}

.w-0 {
  width: 0px
}

.\!min-w-0 {
  min-width: 0px !important
}

.min-w-0 {
  min-width: 0px
}

.max-w-screen-md {
  max-width: 768px
}

.max-w-screen-lg {
  max-width: 1024px
}

.max-w-sm {
  max-width: 24rem
}

.flex-1 {
  flex: 1 1 0%
}

.flex-grow {
  flex-grow: 1
}

.border-collapse {
  border-collapse: collapse
}

.translate-x-2 {
  --tw-translate-x: 0.5rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.translate-x-1 {
  --tw-translate-x: 0.25rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.translate-x-3 {
  --tw-translate-x: 0.75rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.translate-x-full {
  --tw-translate-x: 100%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.-translate-x-full {
  --tw-translate-x: -100%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.-translate-x-\[95\%\] {
  --tw-translate-x: -95%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.-translate-x-\[97\%\] {
  --tw-translate-x: -97%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.rotate-90 {
  --tw-rotate: 90deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.rotate-180 {
  --tw-rotate: 180deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.-rotate-90 {
  --tw-rotate: -90deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.scale-150 {
  --tw-scale-x: 1.5;
  --tw-scale-y: 1.5;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.cursor-pointer {
  cursor: pointer
}

.resize {
  resize: both
}

.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr))
}

.grid-cols-12 {
  grid-template-columns: repeat(12, minmax(0, 1fr))
}

.grid-cols-7 {
  grid-template-columns: repeat(7, minmax(0, 1fr))
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr))
}

.flex-col {
  flex-direction: column
}

.items-center {
  align-items: center
}

.justify-start {
  justify-content: flex-start
}

.justify-end {
  justify-content: flex-end
}

.justify-center {
  justify-content: center
}

.justify-between {
  justify-content: space-between
}

.justify-evenly {
  justify-content: space-evenly
}

.gap-6 {
  gap: 1.5rem
}

.gap-8 {
  gap: 2rem
}

.gap-4 {
  gap: 1rem
}

.gap-y-4 {
  row-gap: 1rem
}

.self-end {
  align-self: flex-end
}

.self-center {
  align-self: center
}

.overflow-hidden {
  overflow: hidden
}

.text-ellipsis {
  text-overflow: ellipsis
}

.whitespace-nowrap {
  white-space: nowrap
}

.break-words {
  overflow-wrap: break-word
}

.rounded-md {
  border-radius: 0.375rem
}

.rounded-\[16px\] {
  border-radius: 16px
}

.rounded-full {
  border-radius: 9999px
}

.rounded {
  border-radius: 0.25rem
}

.rounded-lg {
  border-radius: 0.5rem
}

.rounded-b-none {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px
}

.rounded-t-none {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px
}

.rounded-r-none {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px
}

.rounded-l-none {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px
}

.rounded-l-md {
  border-top-left-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem
}

.rounded-r-md {
  border-top-right-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem
}

.rounded-r {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem
}

.border {
  border-width: 1px
}

.border-0 {
  border-width: 0px
}

.border-2 {
  border-width: 2px
}

.border-t-0 {
  border-top-width: 0px
}

.border-b-0 {
  border-bottom-width: 0px
}

.border-r {
  border-right-width: 1px
}

.border-r-0 {
  border-right-width: 0px
}

.border-r-2 {
  border-right-width: 2px
}

.border-b {
  border-bottom-width: 1px
}

.border-b-2 {
  border-bottom-width: 2px
}

.border-l-0 {
  border-left-width: 0px
}

.border-solid {
  border-style: solid
}

.border-white\/10 {
  border-color: rgb(255 255 255 / 0.1)
}

.border-accent {
  --tw-border-opacity: 1;
  border-color: rgb(0 255 255 / var(--tw-border-opacity))
}

.border-white {
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity))
}

.border-black {
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity))
}

.border-transparent {
  border-color: transparent
}

.border-accent\/60 {
  border-color: rgb(0 255 255 / 0.6)
}

.border-r-accent {
  --tw-border-opacity: 1;
  border-right-color: rgb(0 255 255 / var(--tw-border-opacity))
}

.border-r-accent\/50 {
  border-right-color: rgb(0 255 255 / 0.5)
}

.border-r-accent\/25 {
  border-right-color: rgb(0 255 255 / 0.25)
}

.border-r-accent\/10 {
  border-right-color: rgb(0 255 255 / 0.1)
}

.border-r-accent\/20 {
  border-right-color: rgb(0 255 255 / 0.2)
}

.border-r-accent\/40 {
  border-right-color: rgb(0 255 255 / 0.4)
}

.border-r-accent\/60 {
  border-right-color: rgb(0 255 255 / 0.6)
}

.border-opacity-25 {
  --tw-border-opacity: 0.25
}

.border-opacity-10 {
  --tw-border-opacity: 0.1
}

.bg-gray-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(75 85 99 / var(--tw-bg-opacity))
}

.bg-accent {
  --tw-bg-opacity: 1;
  background-color: rgb(0 255 255 / var(--tw-bg-opacity))
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.bg-\[\#00000060\] {
  background-color: #00000060
}

.bg-white\/50 {
  background-color: rgb(255 255 255 / 0.5)
}

.bg-white\/10 {
  background-color: rgb(255 255 255 / 0.1)
}

.bg-white\/5 {
  background-color: rgb(255 255 255 / 0.05)
}

.bg-\[\#131326\] {
  --tw-bg-opacity: 1;
  background-color: rgb(19 19 38 / var(--tw-bg-opacity))
}

.bg-accent\/10 {
  background-color: rgb(0 255 255 / 0.1)
}

.bg-black\/20 {
  background-color: rgb(0 0 0 / 0.2)
}

.bg-black\/50 {
  background-color: rgb(0 0 0 / 0.5)
}

.bg-accent\/60 {
  background-color: rgb(0 255 255 / 0.6)
}

.bg-opacity-10 {
  --tw-bg-opacity: 0.1
}

.bg-opacity-5 {
  --tw-bg-opacity: 0.05
}

.bg-opacity-50 {
  --tw-bg-opacity: 0.5
}

.bg-center {
  background-position: center
}

.bg-no-repeat {
  background-repeat: no-repeat
}

.fill-accent {
  fill: #00ffff
}

.fill-white {
  fill: #fff
}

.p-4 {
  padding: 1rem
}

.p-\[10px\] {
  padding: 10px
}

.p-6 {
  padding: 1.5rem
}

.p-\[20px\] {
  padding: 20px
}

.p-2 {
  padding: 0.5rem
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem
}

.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem
}

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem
}

.py-0 {
  padding-top: 0px;
  padding-bottom: 0px
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem
}

.\!py-8 {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important
}

.pt-2 {
  padding-top: 0.5rem
}

.pb-1 {
  padding-bottom: 0.25rem
}

.pt-1 {
  padding-top: 0.25rem
}

.pb-2 {
  padding-bottom: 0.5rem
}

.pb-4 {
  padding-bottom: 1rem
}

.pr-2 {
  padding-right: 0.5rem
}

.pl-2 {
  padding-left: 0.5rem
}

.pr-4 {
  padding-right: 1rem
}

.pl-4 {
  padding-left: 1rem
}

.pt-0\.5 {
  padding-top: 0.125rem
}

.pt-0 {
  padding-top: 0px
}

.pl-1 {
  padding-left: 0.25rem
}

.pl-\[20px\] {
  padding-left: 20px
}

.pl-12 {
  padding-left: 3rem
}

.pr-6 {
  padding-right: 1.5rem
}

.pl-0 {
  padding-left: 0px
}

.text-left {
  text-align: left
}

.text-center {
  text-align: center
}

.text-right {
  text-align: right
}

.align-middle {
  vertical-align: middle
}

.font-special {
  font-family: Ubiquity Nova, Proxima Nova, Avenir, sans-serif
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem
}

.text-6xl {
  font-size: 3.75rem;
  line-height: 1
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem
}

.font-medium {
  font-weight: 500
}

.font-bold {
  font-weight: 700
}

.font-light {
  font-weight: 300
}

.font-normal {
  font-weight: 400
}

.font-thin {
  font-weight: 100
}

.uppercase {
  text-transform: uppercase
}

.normal-case {
  text-transform: none
}

.leading-\[28px\] {
  line-height: 28px
}

.leading-6 {
  line-height: 1.5rem
}

.tracking-wider {
  letter-spacing: 0.05em
}

.tracking-widest {
  letter-spacing: .17em
}

.tracking-wide {
  letter-spacing: 0.025em
}

.text-accent {
  --tw-text-opacity: 1;
  color: rgb(0 255 255 / var(--tw-text-opacity))
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.text-gray-600 {
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity))
}

.text-white\/50 {
  color: rgb(255 255 255 / 0.5)
}

.text-red-500 {
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity))
}

.text-gray-400 {
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity))
}

.\!text-accent {
  --tw-text-opacity: 1 !important;
  color: rgb(0 255 255 / var(--tw-text-opacity)) !important
}

.text-gray-700 {
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity))
}

.\!text-white\/30 {
  color: rgb(255 255 255 / 0.3) !important
}

.text-white\/75 {
  color: rgb(255 255 255 / 0.75)
}

.text-\[\#131326\] {
  --tw-text-opacity: 1;
  color: rgb(19 19 38 / var(--tw-text-opacity))
}

.text-opacity-75 {
  --tw-text-opacity: 0.75
}

.text-opacity-50 {
  --tw-text-opacity: 0.5
}

.text-opacity-25 {
  --tw-text-opacity: 0.25
}

.no-underline {
  -webkit-text-decoration-line: none;
          text-decoration-line: none
}

.opacity-75 {
  opacity: 0.75
}

.opacity-50 {
  opacity: 0.5
}

.opacity-25 {
  opacity: 0.25
}

.shadow-inner {
  --tw-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: inset 0 2px 4px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.shadow-md {
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.outline-2 {
  outline-width: 2px
}

.outline-1 {
  outline-width: 1px
}

.outline-accent {
  outline-color: #00ffff
}

.ring-1 {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000)
}

.ring-accent {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(0 255 255 / var(--tw-ring-opacity))
}

.blur {
  --tw-blur: blur(8px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.drop-shadow-light {
  --tw-drop-shadow: drop-shadow(0 0 16px #fff);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.drop-shadow-\[0_0_16px_\#0FF\] {
  --tw-drop-shadow: drop-shadow(0 0 16px #0FF);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.grayscale {
  --tw-grayscale: grayscale(100%);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.transition {
  transition-property: color, background-color, border-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.transition-none {
  transition-property: none
}

.transition-transform {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.duration-300 {
  transition-duration: 300ms
}

.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}

.ease-out {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1)
}

.hover\:bg-gray-100\/20:hover {
  background-color: rgb(243 244 246 / 0.2)
}

.hover\:bg-white\/10:hover {
  background-color: rgb(255 255 255 / 0.1)
}

.hover\:bg-accent\/10:hover {
  background-color: rgb(0 255 255 / 0.1)
}

.hover\:bg-accent\/5:hover {
  background-color: rgb(0 255 255 / 0.05)
}

.hover\:bg-white\/5:hover {
  background-color: rgb(255 255 255 / 0.05)
}

.hover\:text-accent:hover {
  --tw-text-opacity: 1;
  color: rgb(0 255 255 / var(--tw-text-opacity))
}

.hover\:text-gray-900:hover {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity))
}

.hover\:drop-shadow-light:hover {
  --tw-drop-shadow: drop-shadow(0 0 16px #fff);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.hover\:drop-shadow-\[0_0_16px_\#fff\]:hover {
  --tw-drop-shadow: drop-shadow(0 0 16px #fff);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.hover\:transition:hover {
  transition-property: color, background-color, border-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.hover\:transition-none:hover {
  transition-property: none
}

.focus\:outline-none:focus {
  outline: 2px solid transparent;
  outline-offset: 2px
}

.disabled\:bg-white:disabled {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.disabled\:text-black:disabled {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity))
}

.disabled\:opacity-25:disabled {
  opacity: 0.25
}

@media (min-width: 640px) {
  .sm\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr))
  }

  .sm\:flex-row {
    flex-direction: row
  }
}

@media (min-width: 768px) {
  .md\:translate-x-0 {
    --tw-translate-x: 0px;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
  }
}

@media (min-width: 1024px) {
  .lg\:static {
    position: static
  }

  .lg\:fixed {
    position: fixed
  }

  .lg\:hidden {
    display: none
  }

  .lg\:w-\[300px\] {
    width: 300px
  }

  .lg\:translate-x-0 {
    --tw-translate-x: 0px;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
  }

  .lg\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr))
  }
}