:root {
  --button-pad: 8px 16px;
  --button-rounding: 4px;
}
input,
button {
  border-radius: var(--button-rounding);
  border: none;
  padding: var(--button-pad);
  background: #ffffff10;
  margin-right: 3px;
}
input:last-child,
button:last-child {
  margin-right: auto;
}
input:hover,
button:hover {
  background: #ffffff20;
}

#background {
  /* position: absolute; */
  background-position: center;
  vertical-align: middle;
  text-align: center;
  /* width: 100vw; */
  /* height: 100vh; */
  /* -webkit-mask-image: radial-gradient(rgba(0, 0, 0, 0.5) 0, rgba(0, 0, 0, 0.25) 50%, rgba(0, 0, 0, 1) 100%); */
  background-image: url(//ubq.fi/image/grid-1.png);
  background-repeat: repeat;
}

#Inventory {
  width: 100vw;
  text-align: center;
  position: absolute;
}
#Inventory > div > div {
  display: flex;
}
#Inventory > div > div > div {
  display: inline-block;
  display: inline-flex;
  margin: auto;
}
#Inventory > div > div > div > div > div > button {
  background-color: #ffffff20;
  display: block;
}

#Background {
  pointer-events: none;
}
video {
  position: fixed;
  /* background: red; */
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

#tippy {
  background-color: #ffffff20;
  padding: var(--button-pad);
  border-radius: var(--button-rounding);
}
#Foreground > div {
  vertical-align: middle;
}
#Sidebar {
  display: inline-block;
  max-width: 12.5vw;
}
#MainContent {
  max-width: 87.5vw;
  display: inline-block;
  width: 100%;
  text-align: center;
}
#MainContent > div {
  display: inline-block;
  text-align: left;
}
#Inventory {
}
#Sidebar ul li div {
  min-height: 24px;
}
#Sidebar ul li {
  position: relative;
}
#Sidebar ul li a {
  opacity: 0.5;
  display: block;
  padding: var(--button-pad);
}
#Sidebar ul li a:hover {
  opacity: 1;
}
#Sidebar ul li svg {
  height: 16px;
  position: absolute;
  right: 0;
  top: 0;
  padding: var(--button-pad);
}
#Inventory > div:nth-child(2) > div > div > div > div {
  position: relative;
  width: 48px;
  height: 48px;
  display: inline-block;
}
#Inventory > div:nth-child(2) > div > div > div > div svg {
  height: 48px;
  width: 48px;
}
#Inventory > div:nth-child(2) > div > div > div > div > * {
  position: absolute;
  left: 0;
}
#Inventory > div:nth-child(2) > div > div > div > div a {
  text-align: left;
}

[data-tippy-root] {
  /* background: red; */
  padding: var(--button-pad);
  border-radius: var(--button-rounding);
}
