:root {
  --black: hsl(0deg 0% 0%);
  --light-5: hsl(0deg 0% 88%);
  --light-4: hsl(0deg 0% 91%);
  --light-3: hsl(0deg 0% 94%);
  --light-2: hsl(0deg 0% 97%);
  --light-1: hsl(0deg 0% 100%);
}

body #LightDarkModeToggle::before {
  content: "☀️";
  color: #fff;
}
#__next.light-mode #LightDarkModeToggle::before {
  content: "🌙";
}

#__next.light-mode {
  background-color: var(--light-4);
}
#__next.light-mode #Background {
  background-color: var(--light-4);
  -webkit-mask-image: none;
}

#__next.light-mode #Background #color {
  background: var(--light-4);
}

#__next.light-mode .panel {
  background: var(--light-3);
}

#__next.light-mode,
#__next.light-mode a,
#__next.light-mode button {
  color: var(--black);
}

#__next.light-mode h1,
#__next.light-mode h2,
#__next.light-mode h3,
#__next.light-mode h4,
#__next.light-mode h5,
#__next.light-mode h6,
#__next.light-mode th {
  color: var(--black);
}

#__next.light-mode button,
#__next.light-mode input {
  background-color: var(--light-2);
}
#__next.light-mode button#WalletNotConnected {
  background-color: initial;
}
#__next.light-mode button:hover,
#__next.light-mode input:hover {
  background-color: var(--light-1);
}

#__next.light-mode #DollarPrice span:last-child {
  color: var(--black);
}

#__next.light-mode aside {
  color: #404040;
}

#__next.light-mode .WalletNotConnected__svg {
  fill: var(--black);
}
#__next.light-mode .WalletNotConnected__text {
  color: var(--black);
}

#__next.light-mode .iPGSoB:before {
  background-color: var(--light-5);
}
#__next.light-mode .dbvzkF,
#__next.light-mode .dzmsHP:hover {
  color: #000;
}

#__next.light-mode a.sc-cjibBx.hBfxKN {
  background-color: #fff;
}

#__next.light-mode #__CONNECTKIT__ button:hover {
  background: #fff;
  color: #000;
}
@media (max-width: 460px) {
  #__next.light-mode #Foreground input[type="checkbox"] + #Sidebar {
    background: white;
  }
}

#__next.light-mode #Foreground input[type="checkbox"] {
  background: var(--light-5);
  box-shadow: 0 0 48px 36px var(--light-5);
}

#__next.light-mode #Foreground input[type="checkbox"]:hover,
#__next.light-mode #Foreground input[type="checkbox"]:hover::before,
#__next.light-mode #Foreground input[type="checkbox"]:hover::after {
  border-top: 2px solid #000;
}

#__next.light-mode #Foreground input[type="checkbox"]:checked {
  border-top: 2px solid #ffffff00;
}
