body {
  background: #000;
  color: #fff;
  font-family: "Ubiquity Nova", "Proxima Nova", Avenir, sans-serif;
  margin: 0;
  font-weight: 400;
}
:root {
  --button-pad: 8px 16px;
  --button-rounding: 4px;
  --dollar-logo-black: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 131.66 150'%3E%3Cpath d='m54.5 97.23.51.29L95.45 121l-27.54 16a5.44 5.44 0 0 1-5.11.16l-.29-.16-49.1-28.35a5.42 5.42 0 0 1-2.69-4.36v-8.7a48.08 48.08 0 0 1 43.78 1.7zm-30.45-60.7 42.73 24.8.55.32a59 59 0 0 0 52.38 2.77v39.48a5.4 5.4 0 0 1-2.44 4.51l-.26.18-10.67 6.14-45.85-26.61a58.92 58.92 0 0 0-49.78-4.38v-36.4a5.42 5.42 0 0 1 2.44-4.51l.26-.16zm41.16-22.87a5.43 5.43 0 0 1 2.38.55l.32.17L117 42.67a5.4 5.4 0 0 1 2.7 4.35v5.33a48 48 0 0 1-46.8 0l-.64-.35-37.34-21.73 27.59-15.89a5.25 5.25 0 0 1 2.35-.72zm66.45 27.11a6.54 6.54 0 0 0-3.27-5.66L69.1.87a6.58 6.58 0 0 0-6.54 0L3.27 35.11A6.54 6.54 0 0 0 0 40.77v68.46a6.57 6.57 0 0 0 3.27 5.67l59.29 34.23a6.58 6.58 0 0 0 6.54 0l59.29-34.23a6.57 6.57 0 0 0 3.27-5.67z' /%3E%3C/svg%3E");
  --dollar-logo-white: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 131.66 150'%3E%3Cpath fill='%23fff' d='m54.5 97.23.51.29L95.45 121l-27.54 16a5.44 5.44 0 0 1-5.11.16l-.29-.16-49.1-28.35a5.42 5.42 0 0 1-2.69-4.36v-8.7a48.08 48.08 0 0 1 43.78 1.7zm-30.45-60.7 42.73 24.8.55.32a59 59 0 0 0 52.38 2.77v39.48a5.4 5.4 0 0 1-2.44 4.51l-.26.18-10.67 6.14-45.85-26.61a58.92 58.92 0 0 0-49.78-4.38v-36.4a5.42 5.42 0 0 1 2.44-4.51l.26-.16zm41.16-22.87a5.43 5.43 0 0 1 2.38.55l.32.17L117 42.67a5.4 5.4 0 0 1 2.7 4.35v5.33a48 48 0 0 1-46.8 0l-.64-.35-37.34-21.73 27.59-15.89a5.25 5.25 0 0 1 2.35-.72zm66.45 27.11a6.54 6.54 0 0 0-3.27-5.66L69.1.87a6.58 6.58 0 0 0-6.54 0L3.27 35.11A6.54 6.54 0 0 0 0 40.77v68.46a6.57 6.57 0 0 0 3.27 5.67l59.29 34.23a6.58 6.58 0 0 0 6.54 0l59.29-34.23a6.57 6.57 0 0 0 3.27-5.67z' /%3E%3C/svg%3E");
  --dollar-logo-cyan: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 131.66 150'%3E%3Cpath fill='%2300ffff' d='m54.5 97.23.51.29L95.45 121l-27.54 16a5.44 5.44 0 0 1-5.11.16l-.29-.16-49.1-28.35a5.42 5.42 0 0 1-2.69-4.36v-8.7a48.08 48.08 0 0 1 43.78 1.7zm-30.45-60.7 42.73 24.8.55.32a59 59 0 0 0 52.38 2.77v39.48a5.4 5.4 0 0 1-2.44 4.51l-.26.18-10.67 6.14-45.85-26.61a58.92 58.92 0 0 0-49.78-4.38v-36.4a5.42 5.42 0 0 1 2.44-4.51l.26-.16zm41.16-22.87a5.43 5.43 0 0 1 2.38.55l.32.17L117 42.67a5.4 5.4 0 0 1 2.7 4.35v5.33a48 48 0 0 1-46.8 0l-.64-.35-37.34-21.73 27.59-15.89a5.25 5.25 0 0 1 2.35-.72zm66.45 27.11a6.54 6.54 0 0 0-3.27-5.66L69.1.87a6.58 6.58 0 0 0-6.54 0L3.27 35.11A6.54 6.54 0 0 0 0 40.77v68.46a6.57 6.57 0 0 0 3.27 5.67l59.29 34.23a6.58 6.58 0 0 0 6.54 0l59.29-34.23a6.57 6.57 0 0 0 3.27-5.67z' /%3E%3C/svg%3E");
  --box-shadow: none;
}
img,
svg {
  max-width: 48px;
  max-height: 48px;
}
img,
svg {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}
button,
input {
  border-radius: var(--button-rounding);
  border: none;
  padding: var(--button-pad);
  background: #ffffff10;
  margin-right: 3px;
  margin-bottom: 3px;
  font-family: "Ubiquity Nova", "Proxima Nova", Avenir, sans-serif;
  font-weight: 400;
  color: #fff;
}
button:last-child,
input:last-child {
  margin-right: auto;
}
button:hover,
input:hover {
  background: #ffffff20;
}
#background {
  background-position: center;
  vertical-align: middle;
  text-align: center;
  background-image: url(/grid-1.png);
  background-repeat: repeat;
}
#Inventory {
  width: 100vw;
  text-align: center;
  position: absolute;
  padding: 12px 0;
  /* background: radial-gradient(#000000ff, #101010ff); */
}
#Inventory > div {
  overflow: scroll;
}
#Inventory > div > div {
  display: flex;
}
#Inventory > div > div > div {
  display: inline-block;
  display: inline-flex;
  margin: auto;
}
#Inventory > div > div > div > div > div > button {
  background-color: #ffffff20;
  display: block;
  height: 24px;
  width: 24px;
  opacity: 0;
}
#Inventory > div > div > div > div > div > button:hover {
  opacity: 1;
}
#Background {
  pointer-events: none;
  position: absolute;
  height: 100vh;
  top: 0;
  left: 0;
  width: 100vw;
}
video {
  position: fixed;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
#tippy {
  background-color: #ffffff20;
  padding: var(--button-pad);
  border-radius: var(--button-rounding);
}
#Foreground > div {
  vertical-align: middle;
  display: table-cell;
  height: 100%;
  position: relative;
}
#Sidebar {
  /* background: radial-gradient(#000000ff, #101010ff); */
  display: inline-table;
  min-height: 100vh;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  text-rendering: geometricPrecision;
  font-size: 12px;
  /* max-width: 200px; */
  padding-left: 16px;
}
#Foreground input[type="checkbox"] {
  display: none;
}

#Sidebar > div {
  display: table-cell;
  vertical-align: middle;
}
#MainContent {
  /* max-width: 87.5vw; */
  display: inline-table;
  width: calc(100vw - 216px);
  text-align: center;
}
#MainContent > div {
  display: inline-block;
  text-align: right;
}

#Sidebar ul {
  margin: auto;
}
#Sidebar ul li div {
  min-height: 16px;
  vertical-align: middle;
}
#Sidebar ul li {
  position: relative;
}
#Sidebar ul li a {
  opacity: 0.5;
  display: block;
  padding: var(--button-pad);
}
#Sidebar ul li a:hover {
  opacity: 1;
}

#WalletConnect {
  position: relative;
  padding: var(--button-pad);
}

#WalletConnect button {
  /* box-shadow: 0 0 48px 4px #00ffff; */
  border: 1px solid #80ffff;
  /* background-color: #00ffff; */
  /* color: #000; */
  /* font-weight: 900; */
}
#Inventory {
  max-width: 100vw;
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: scroll;
  overflow-x: hidden;
}
#Inventory > div:nth-child(2) > div > div > div {
  display: table;
  width: 96px;
}
#Inventory > div:nth-child(2) > div > div:nth-child(2) > div > div:first-child {
  width: 24px;
}
#Inventory > div:nth-child(2) > div > div > div > div {
  position: relative;
  width: 36px;
  height: 24px;
  display: table-cell;
  font-size: 12px;
  vertical-align: middle;
}
#Inventory > div:nth-child(2) > div > div > div > div img,
#Inventory > div:nth-child(2) > div > div > div > div svg {
  height: 24px;
  width: 24px;
}
#Inventory > div:nth-child(2) > div > div > div > div > button {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
#Inventory > div:nth-child(2) > div > div > div > div a {
  text-align: left;
}
[data-tippy-root] {
  padding: var(--button-pad);
  border-radius: var(--button-rounding);
}
div#background {
  position: fixed;
  width: 100vw;
  height: 100vh;
}
#Background #color {
  height: 100vh;
  width: 100vw;
  background: radial-gradient(#00000000, #000000ff);
  position: absolute;
  top: 0;
  left: 0;
}
#Background {
  background: #06061a;
  -webkit-mask-image: radial-gradient(#00000080 0, #00000040 50%, #000 100%);
}
div#grid {
  background-position: 50%;
  vertical-align: middle;
  text-align: center;
  background-image: url(/grid-1.png);
  background-repeat: repeat;
  height: 100vh;
}
a,
button {
  color: inherit;
  text-decoration: inherit;
  color: #fff;
  cursor: pointer;
}
ol,
ul {
  list-style: none;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
th {
  line-height: 1;
  font-size: 16px;
  margin: 16px auto;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-rendering: geometricPrecision;
  color: #ffffff80;
}
th {
  font-size: unset;
  font-size: 12px;
}
#Foreground {
  display: table;
  min-height: 100vh;
  width: 100%;
  overflow: scroll;
}
#DollarPrice span:last-child::before {
  content: " (";
}
#DollarPrice span:last-child::after {
  content: ")";
}
#DollarPrice span:last-child {
  color: #ffffff80;
  text-transform: uppercase;
}
#Inventory > div:nth-child(2) > div > div > div > div:nth-child(2) > a > span:last-child {
  color: #ffffff80;
  margin-left: 3px;
}
.panel {
  background: radial-gradient(#00000080, #101010ff);
  margin: 24px auto;
  margin-right: 3px;
  border-radius: 4px;
  /* border-radius: 3px; */
  /* border-right: 3px solid #000000ff; */
  padding: 12px 48px 24px;
  display: inline-block;
  vertical-align: top;
  user-select: none;
}
table {
  margin: 24px auto;
  text-align: center;
  border-collapse: collapse;
}
td {
  padding: 0 8px;
}
#Logo svg {
  /* float: right; */
  height: 24px;
  width: 24px;
}
#Logo > div > div {
  display: inline-block;
}
#Logo > div > div:first-child {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin-right: 8px;
  margin-bottom: 8px;
}
#Logo > div > div:last-child {
  height: 22px;
}
#Markets > div > div {
  margin: 24px auto;
}
#Markets > div > div > a,
#Markets > div > div > span {
  margin-left: 6px;
}

#WalletConnect {
  /* position: fixed; */
  word-break: break-all;
  top: 0;
  text-transform: initial;
}
#WalletConnect.connected button {
  border: transparent;
}
#Sidebar #Address {
  padding: 8px 0;
}

/* spinner */

#Spinner {
  display: inline-block;
  position: relative;
  width: 16px;
  height: 16px;
  margin: 0 16px;
}
#Spinner div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  margin: 1px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #ffffff transparent transparent transparent;
}
#Spinner div:nth-child(1) {
  animation-delay: -0.45s;
}
#Spinner div:nth-child(2) {
  animation-delay: -0.3s;
}
#Spinner div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* spinner */

#Sidebar > div > ul:nth-child(3) li {
  display: inline-block;
}
/*
#Sidebar > div > ul:nth-child(3) li {
  display: inline-block;
} */

#WalletNotConnected {
  background-image: url("/ethereum-wallet.svg");
  background-repeat: no-repeat;
  background-position: center;
}
#WalletNotConnected > h2 {
  backdrop-filter: blur(8px);
}

aside {
  color: #bfbfbf;
}

#MintUcr,
#RedeemUcr {
  opacity: 0.25;
  cursor: not-allowed;
}
#MintUcr > div,
#RedeemUcr > div {
  pointer-events: none;
}

#CreditOperations[data-twap^="0."] #MintUcr,
#CreditOperations[data-twap^="1."] #RedeemUcr {
  opacity: 1;
  cursor: unset;
}
#CreditOperations[data-twap^="0."] #MintUcr > div,
#CreditOperations[data-twap^="1."] #RedeemUcr > div {
  pointer-events: unset;
}

/* Page 404 styles */
#Page404 {
  display: flex;
}
#Page404 a {
  text-decoration: underline;
}
#Page404 > div:nth-child(1) {
  padding: 16px;
  text-align: left;
}
#Page404 > div:nth-child(1) > p:nth-child(1) {
  font-size: 2rem;
}
#Page404 > div:nth-child(2) {
  align-items: center;
  display: flex;
  font-size: 4rem;
  padding: 16px;
}
